.commentDiv{
  padding: 10px;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  color: white;
  background: blue;
  border: none;
  padding: 8px 10px;
}
