.centerContent{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

button{
  background-color: blue;
  color: white;
  border: none;
  padding: 5px 15px;
  font-size: 20px;
}

.containers{
  background-color: #BCC3C0C0;
  padding: 10px;
  margin: 10px;
}

