
// .container {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border: 2px, solid, black;
//   padding: 5px;
// }



// .buttonDiv{
//   margin-left: 5px;
// }

// .buttonBlock{
//   background-color: blue;
//   color: white;
//   border-style: solid;
//   border-width: 2px;
//   border-color: blue;
// }

.centerContent{
  display: flex;
  align-items: center;
  justify-content: center;
}

.containers {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px, solid, black;
  padding: 5px;
}




button{
  background-color: blue;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: blue;
}


