
.containers {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px, solid, black;
  padding: 5px;
}




button{
  background-color: blue;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: blue;
}



