.title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 10px;
}

.mainContainer{
  background-color: #BCC3C0C0;
  padding: 10px;
  margin: 10px;
}
