.button {
  text-align: center;
  text-decoration: none;
  padding: 5px 30px;
  font-size: 16px;
  border-radius: 500px;
  border-color: blue;
  background-color: white;
  color: blue;
  margin-right: 2px;
}

img{
  width: 25px;
  margin-right: 5px;
}


