<div class="containers">
  <div class="centerContent">
    <h3>Community flairs</h3>
  </div>

  <div class="card gedf-card" *ngFor="let flair of flairs" >
    <app-card-flair *ngIf="flair" [flair]="flair" (changed)="changed($event)"></app-card-flair>
  </div>



  <div *ngIf="moderator" class="centerContent">
    <button (click)="addFlairDiv()">Add flair</button>
  </div>

<div class="centerContent">
  <div class="form-group card-header" style="width: 400px;" *ngIf="this.isAddFlairVisible">
    <form class="reactiveForm" [formGroup]="flairForm" novalidate>
      <input type="text" class="form-control item" formControlName="name" name="newFlair"  id="newFlair" placeholder="Flair name" [(ngModel)] = "newFlair">
      <div *ngIf="flairForm.controls['name'].invalid && flairForm.controls['name'].touched" class="alert alert-danger">
        <div *ngIf="flairForm.controls['name'].errors?.['required']">Flair name is required.</div>
      </div>
    </form>

    <div class="centerContent">
      <button  class="blueBtn" (click)="submitAddFlair()">SUBMIT</button>
    </div>

  </div>
</div>



</div>
