
<div class="navigationBtn">
  <button (click)="goToRules()">Community rules</button>
  <button (click)="goToFlairs()">Flairs</button>
  <button *ngIf="moderator || user" (click)="goToAddPost()">Add post</button>

</div>

<div class="navigationBtn">
  <div class="card" style="width: 30rem;">
    <div class="card-body">
      <h5 class="card-title" *ngIf="community"> <b>Community name:</b>  {{community.name}}</h5>
      <p class="card-text" *ngIf="community" ><b>Description:</b> {{community.description}}</p>
    </div>
  </div>
</div>



<app-card-post-community [communityId]="communityId"></app-card-post-community>

<router-outlet></router-outlet>


