.centerContent{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.containers{
  background-color: #BCC3C0C0;
  padding: 10px;
  margin: 10px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.509);
  margin-top: 50px;
}
