.main{
  background-color: #fff;
}

a{
  text-decoration: underline;
  color: orange!important;
}

input{
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 4px;
  box-sizing: border-box;
}

.form{
margin-left: 10px;
margin-right: 10px;
width: 300px;
}

.centerDiv{
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  background-color: orange;
  color: white;
  margin: 15px 0px;
  font-size: large;
  border: orange;
  padding: 8px 15px;
}

h2{
  margin-top: 20px;
}


